[submodule "Differ"]
	path = Differ
	url = https://github.com/tonyarnold/Differ.git
[submodule "LUNTabBarController"]
	path = LUNTabBarController
	url = https://github.com/LunAppsMobile/LUNTabBarController.git
[submodule "Pulley"]
	path = Pulley
	url = https://github.com/52inc/Pulley.git
