<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
		<!--dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Image Importing</string>
			<key>Key</key>
			<string>preferredLossyImageFormat</string>
			<key>DefaultValue</key>
			<string>JPEG</string>
			<key>Titles</key>
			<array>
				<string>High Efficiency</string>
				<string>Most Compatible</string>
			</array>
			<key>Values</key>
			<array>
				<string>HEIF</string>
				<string>JPEG</string>
			</array>
			<key>FooterText</key>
			<string>To reduce file size, imported JPEGs can be converted into the high efficiency HEIF format. Most Compatible will use the original JPEG instead.</string>
		</dict-->
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
